header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../Images/img-01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-size:120%;
}
.Glass
{
  background: ;
  position: absolute;
  border-radius: 16px;
  box-shadow: 0 0 32px rgba(0,0,0,1);
  top:20%;
  padding:0 2%;
  left:40%;
  height:85%;
  width: 40%;
}

button:hover{
color:white;
background-color: lightgreen;
border:none;
color: #4CAF50;
text-decoration: underline;
}
button:active{
color:orange;
border:none;
background-color:lightpink;
text-decoration: underline;
}
body, html {
  height: 100%;
  margin: 0;
}
.input
{
  position:relative;
  top:40px;
}
input[type=text] 
		{
  		width: 100%;
  		box-sizing: border-box;
  		border: 2px;
 		border-radius: 16px;
  		background-color: white;
  		background-image: url('../Images/email.png');
  		background-position: 10px 10px;
  		background-size:20px; 
  		background-repeat: no-repeat;
  		padding: 12px 20px 12px 40px;
}
input[type=password] 
		{
  		width: 100%;
  		box-sizing: border-box;
  		border: 2px;
 		border-radius: 16px;
  		background-color: white;
  		background-image: url('../Images/password.png');
  		background-position: 10px 10px;
  		background-size:13px; 
  		background-repeat: no-repeat;
  		padding: 12px 20px 12px 40px;
}
button{
	color: white;
	background-color:forestgreen;
	border:none;
	border-radius:16px;
}
button:hover{
color:white;
background-color: lightgreen;
border-radius: 16px;
border:none;
color: #4CAF50;
text-decoration: underline;
font-size: 16px;
}
button:active{
color:white;
background-color: limegreen;
border:none;
border-radius:16px;
background-color:lightblue;
text-decoration: underline;
}
/* unvisited link */
a:link {
  color: lightblue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: aqua;
}

/* selected link */
a:active {
  color: blue;
}
.clearfix:after{
  content:".";
  visibility:hidden;
  display:block;
  height:0px;
  clear:both;

}
.row{
  max-width:1180px;
  margin:0 auto;
}
.logo{
  height:80%;
  width:;
  width:auto;
  float:left;
  margin-top:20px;
}

.main-nav{
  float:right;
  margin-top:0px;
  margin-right:20px;
}
.main-nav li{
  display:inline-block;
  list-style:none;
  margin-left:30px;
  float:left;
}
.main-nav li a{
  color: #fff;
  padding:5px 0;
  text-decoration:none;
  text-transform:uppercase;
  font-size:80%;
}
.main-nav li a:hover{
  border-bottom: 2px solid #bf55ec;
}
.mobile-icon{display:none;}

/*Responsive Desing*/
@media screen and (max-width: 1500px) {
  .Glass{
    top:10%;
    left:30%;
    height:80%;
    width: 40%;

  }
  .logo{
  border-radius:40px;
  height:50px;
  width:50px;
  width:auto;
  float:left;
  margin-top:20px;
}
}
@media screen and (max-width: 998px)
{
 .Glass{
    top:10%;
    padding:0 2%;
    left:20%;
    height:70%;
    width: 40%;

  }
  header
  {
    font-size:100%;
  }

}
@media screen and (max-width: 768px)
{
  .Glass{
    top:10%;
    padding:0 2%;
    left:20%;
    height:65%;
    width: 60%;

  }
  .logo{
  border-radius:40px;
  height:50px;
  width:50px;
  width:auto;
  float:left;
  margin-top:10px;
}
  header
  {
    font-size:90%;
  }
  .logo
  {
    height:10%;
    width:10%;
  }
  h1
  {
    font-size:180%;
  }
  .main-nav
  {
    display: none;
  }
  .mobile-icon
  {
    margin-left: 85%;
    position:absolute;
    display:inline-block;
    float: right;
    margin-top:30px;
    margin-right:20px;
  }
  .main-nav
  {
    position:relative;
    float:left;
    margin-left:80%;
  }
  .main-nav li
  {
    display:block;
    margin-top:10px;
  }
}
@media screen and (max-width: 600px)
{
  .Glass{
    top:10%;
    padding:0 2%;
    left:20%;
    height:70%;
    width: 60%;

  }
  header
  {
    font-size:90%;
  }
     .logo
  {
    height:10%;
    width:10%;
  }
  h1
  {
    font-size:140%;
  }
  .main-nav
  {
    display: none;
  }
  .mobile-icon
  {
    display:block;
    float: right;
    margin-left:95%;
    margin-top:30px;
  }
  .main-nav
  {
    float:left;
  }
  .main-nav li
  {
    display:block;
    margin-top:10px;
    margin-right:10px;
  }
}
@media screen and (max-width: 450px)
{
  .Glass{
    top:10%;
    padding:0 2%;
    left:20%;
    height:70%;
    width: 60%;

  }
    }
    .logo
  {
    height:10%;
    width:10%;
  }
  h1
  {
    font-size:100%;
  }
  .main-nav
  {
    display: none;
  }
  .mobile-icon
  {
    display:inline-block;
    float: right;
    margin-left:80%;
    margin-top:30px;
  }
  .main-nav
  {
    font-size:100%;
    float:right;
    margin-right:15px;
  }
  .main-nav li
  {
    display:block;
    margin-top:10%;
  }
}